body {
	text-align: center;
	background-color: #f9f9f9;
	font-family: 'Helvetica', sans-serif;
	}

h2 {
	margin: 0px;
	}

.dashboard-wrapper {
	margin: auto;
	max-width: 920px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 15px;
	grid-row-gap: 15px;
	}

.dashboard-wrapper .panel {
	text-align: left;
	background-color: #fff;
	border: 1px solid #d3d3d3;
	box-shadow: 0 0 4px 4px rgba(143,143,143,.2);
	padding: 15px;
	border-radius: 10px;
	}

.dashboard-wrapper #p1.panel, .dashboard-wrapper #p5.panel {
	grid-column: 1 / 4;
	}

.bottom {
	font-size: 10px;
	margin-top: 15px;
	}

.bottom a {
	color: #333;
	text-decoration: none;
	}

@media screen and (max-width: 1024px) {
	.dashboard-wrapper .panel {
		grid-column: 1 / 4;
		}	
	}

